.cabecalho {
    background-color: var(--branco);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.cabecalho__menu-hamburguer {
    width: 24px;
    height: 24px;
    background-image: url("../assets/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.container {
    display: flex;
    align-items: center;
}

.container__botao {
    display: none;
}

.container__botao:checked~.container__lista-menu {
    display: block;
}

.container__imagens {
    padding: 0.7em;
}

.container__lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.conntainer__lista-menu__titulo,
.conntainer__lista-menu__item {
    padding: 1em;
    background-color: var(--branco);
}

.conntainer__lista-menu__titulo {
    color: var(--laranja);
    font-weight: 700;
}

.conntainer__lista-menu__item__link {
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}

.container__titulo {
    display: none;
}

.opcoes {
    display: none;
}
@media screen and (min-width: 1024px) {
    header {
        padding: 0 2em;
    }
    .cabecalho__menu-hamburguer {
        display: none;
    }

    .container__titulo,
    .container__titulo--negrito {
        font-family: var(--font-secundaria);
        font-size: 1.9rem;
    }

    .container__titulo {
        font-weight: 400;
        display: inline;
    }

    .container__titulo--negrito {
        font-weight: 700;
    }

    .opcoes {
        display: flex;
    }

    .opcoes__botao {
        display: none;
    }

    .opcoes__botao:checked~.container__lista-menu {
        display: block;
        width: auto;
    }
    
    .opcoes__item {
        padding: 0 1em;
        text-transform: uppercase;
    }

    .opcoes__link {
        text-decoration: none;
        color: var(--preta);
    }

    .container__imagem-transparente {
        display: none;
    }
}